<section class="py-5 about-me">
    <h1 class="text-center text-white">about me </h1>
    <div class="line"></div>
    <div class="container bg-bank py-3">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-5">
     <p class="text-white">Junior Front-end Developer. a highly persistent, self motivated and dynamic who is seeking a opportunity to
      grow as a Software Developer, I am very interested in gaining experience, and learning new skills by working
      on interesting, and challenging projects in a collaborative work environment to find solutions for utilizing
      my technical skills.</p>
    </div>
   </div>
   
    </div>
</section>