<section class="bg-black">
    <div class="container">
      <div class="row py-5 gap-5">
        <div class="col-md-5 box-silder">
            <div id="carouselExamples" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/weather.png" class="d-block w-100" alt="...">
                  </div>

                 
                
                 
        
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamples" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExamples" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>    </div>
        <div class="col-md-5 box-text">
          <h3 class="py-1 text-white"> Weather website</h3>
          <small class="text-white"> Developed a weather website that provides up-to-date weather information to help users make informed decisions. The website utilizes HTML, CSS, Bootstrap, and JavaScript to provide a user-friendly interface, while integrating with a data API to constantly update the forecasts for the day, hour, or minute</small>
            <div class="d-flex mt-2">
                <button class="btn btn-html me-2">Html</button>
                <button class="btn btn-info me-2">Css</button>
                <button class="btn btn-warning me-2">js</button>

            </div>
            <div class="text-end">
                <button class="btn btn-link me-2 "> <a href="https://wheather-app-dun.vercel.app/" target="_blank"><i class="fa-solid fa-eye fs-4"></i></a></button>
                <button class="btn btn-link "> <a href=" https://github.com/rania-ibrhem30/wheather-app" target="_blank"><i class="fa-brands fa-github fs-4"></i></a></button>
              
            </div>
           
        </div>
      </div>
      <div class="row py-5 gap-5">
        <div class="col-md-5 box-silder">
            <div id="carouselExamples" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/yummy.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/YUMMY2.png" class="d-block w-100" alt="...">
                  </div>
                
                 
        
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamples" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExamples" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>    </div>
        <div class="col-md-5 box-text">
          <h3 class="py-1 text-white"> Yummy FOOD Website</h3>
          <small class="text-white">Yummy website for foods receives data from API used Javascript and used html,css.</small>
            <div class="d-flex mt-2">
                <button class="btn btn-html me-2">Html</button>
                <button class="btn btn-info me-2">Css</button>
                <button class="btn btn-warning me-2">js</button>

            </div>
            <div class="text-end">
                <button class="btn btn-link me-2 "> <a href="https://yummy-theta.vercel.app/" target="_blank"><i class="fa-solid fa-eye fs-4"></i></a></button>
                <button class="btn btn-link "> <a href="https://github.com/rania-ibrhem30/yummy" target="_blank"><i class="fa-brands fa-github fs-4"></i></a></button>
              
            </div>
           
        </div>
      </div>
     
      <div class="row py-5 gap-5">
        <div class="col-md-5 box-silder">
            <div id="carouselExamples" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/QUTE.png" class="d-block w-100" alt="...">
                  </div>
                 
                
                 
        
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamples" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExamples" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>    </div>
        <div class="col-md-5 box-text">
          <h3 class="py-1 text-white">Quote Website</h3>
          <small class="text-white">Quote website used Javascript and used html,css.</small>
            <div class="d-flex mt-2">
                <button class="btn btn-html me-2">Html</button>
                <button class="btn btn-info me-2">Css</button>
                <button class="btn btn-warning me-2">js</button>

            </div>
            <div class="text-end">
                <button class="btn btn-link me-2 "> <a href="https://quote-app-sandy.vercel.app/" target="_blank"><i class="fa-solid fa-eye fs-4"></i></a></button>
                <button class="btn btn-link "> <a href="https://github.com/rania-ibrhem30/Quote-app" target="_blank"><i class="fa-brands fa-github fs-4"></i></a></button>
              
            </div>
           
        </div>
      </div>
    </div>
     
</section>