<section class="py-5">
    <h1 class="text-center text-white">Look at my <span class="gradient-text">Services</span></h1>
    <p class="text-center">If you are looking for someone who will help you to build your website presence than
        congratulations!</p>


    <div class="container py-5">
        <div class="row text-center justify-content-center">
            <div class="col-md-3">
                <div class="gradient-border"></div>
                <div class="box py-1">
                    <img src="../../assets/web.gif" alt="" class="w-75">
                    <h4 class="text-white py-2 mx-5">Website Development</h4>
                    <p class="text-muted">Leverage agile frameworks to provide a robust
                        synopsis for high level overviews.
                        Iterative approaches to corporate</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gradient-border"></div>
                <div class="box py-1">
                    <img src="../../assets/flame-chart-with-bubble.gif" alt="" class="w-75">
                    <h4 class="text-white py-2 mx-5">SEO <br> Marketing</h4>
                    <p class="text-muted">Leverage agile frameworks to provide a robust
                        synopsis for high level overviews.
                        Iterative approaches to corporate</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gradient-border"></div>
                <div class="box py-1">
                    <img src="../../assets/icons8-wordpress-256.png " alt="" class="w-75">
                    <h4 class="text-white py-2 mx-5">Wordpress <br> designer</h4>
                    <p class="text-muted">Leverage agile frameworks to provide a robust
                        synopsis for high level overviews.
                        Iterative approaches to corporate</p>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="py-5">
    <h1 class="text-center text-white">Look at My <span class="gradient-text">Skills</span></h1>
    <div class="container py-4">
        <div class="d-flex justify-content-center gap-5 flex-wrap py-4">
            <div>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="110" />

            </div>
            <div>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="110" />

            </div>

            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" width="110" />

            </div>
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"
                    width="110" />

            </div>
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                    width="110" />

            </div>




        </div>
        <div class="d-flex justify-content-center gap-5 flex-wrap py-4">
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original-wordmark.svg"
                    width="110" />

            </div>
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                    width="110" />

            </div>
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
                    width="110" />

            </div>
            <div>


                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" width="110" />


            </div>
            <div>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"
                    width="110" style="background-color: aliceblue; padding: 6px 4px;"/>

            </div>
            <div>
                <img src="../../assets/primeng-logo.webp" alt="" width="110">
            </div>
            
          
        </div>

    </div>




</section>