<section class="bg-contact py-5">
<div class="container py-5">
<h1 class="text-center">Contact Me</h1>
<div class="line"></div>
<div class="row py-5 justify-content-center align-items-center d-flex">
    <div class="col-md-6 col-11">
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Full Name*">
                <label for="floatingInput">Full Name*</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email Address*">
                <label for="floatingInput">Email Address*</label>
              </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Phone Number">
                <label for="floatingInput">Phone Number</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>  
              <div class="py-3 text-start">
                <button class="btn-send-mag text">Send Message</button>     

              </div>
             </form>

    </div>
    <div class="col-md-4">
        <img src="../../assets/map.svg" alt="" width="600px">
    </div>
</div>
</div>
</section>