<section class="py-5 project py-5">
    <h1 class="text-center text-white">My Projects</h1>
    <div class="line"></div>
    <div class="container py-3 text-center">
        <ul class="d-flex  justify-content-center text-white flex-wrap" style="font-size: 23px;">
            <li class="me-5 mx-5" routerLink="Angular" routerLinkActive="line-2">Angular</li>
            <li class="me-5 mx-5" routerLink="JavaScript" routerLinkActive="line-2">JavaScript</li>
            <li class="me-5 mx-5" routerLink="Templates" routerLinkActive="line-2">Templates</li>
        </ul>
    </div>
</section>
<section>
    <router-outlet></router-outlet>
</section>
